* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #fff;
}

header {
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;

}

header a.btn-index {
  font-size: 1rem;
  color: #444;
}


.message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.message-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-size: 18px;
}

.message button {

  text-decoration: none;
  color: #000;
  font-weight: 18px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.message button:hover,
.message button.active {
  background: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}



.submenu{
  max-height: 0;
  background-color: #adadad;
  border-radius: 10px;
  overflow: hidden;
}

.submenu ul{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;

}

.submenu ul li{
  position: relative;
  display: block;
  width: 100%;
  margin: 2px 2px;
}

.submenu.show{
  max-height: 300px;
}

nav a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

nav a:hover,
nav a.active {
  background: #000;
  color: #fff;
}

nav ul{
    list-style:none ;
}

main {
  padding: 6rem;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {

  font-size: 40px;
  text-align: center;
}

h3 {
  margin-left: 3rem;
  font-size: 30px;
}

.places img {
  width: 50%;
  border-radius: 10px;
  margin: 1rem 0;
}

.intro img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  width: 60%;
  height: 60%;

}

p,
ul {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  text-align: justify;
}

.article p {
  text-align: center;
}

.article ul,
li {
  text-align: center;
  list-style-position: inside;
}



.places .card {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
}

.places .card img {
  width: 30%;
  border-radius: 10px;
}

.places .card div {
  display: block;
  text-align: left;
}

.places .card div p {
  text-align: justify;
}

.btn {
  display: block;
  margin: 1rem auto 0;
  width: fit-content;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 6px;
}

.btn-index {
  font-size: 1rem;
  color: #444;
  text-decoration: none;
}

.article h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 2rem;
}

.article .color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-top: 2rem;
}

.article .color-palette img {
  width: 30%;
  border-radius: 10px;
}

.article .img1,
.img4,
.img5 {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  width: 60%;
  height: 60%;
}

.streetview {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
}

footer p {
  margin-bottom: 1rem;
  font-weight: bold;
}

footer .social a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #000;
}

.container{
  max-width: 1040px;
  margin: 0 auto;
}

.swiper{
  margin-top: 40px;
}

.swiper-slide{
  margin-bottom: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 30px 30px rbg(0, 0, 0.2);
  border-radius: 15px;
  height: 420px;
  width: 295px;
  position: relative;
}

.swiper-slide img{
  width: 295px;
  border-radius: 15px;
  height: 420px;
}

  @media (max-width: 600px) {
    header {
      background: #fff;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #eee;

    }

    header a.btn-index {
      font-size: 11px;
      color: #444;
    }


        .message {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          justify-content: center;
          align-items: center;
        }
    
        .message-content {
          background: white;
          padding: 20px;
          border-radius: 10px;
          width: 300px;
          text-align: center;
          font-size: 18px;
        }
    
        .message button:hover,
        .message button.active {
          background: #000;
          color: #fff;
          border-radius: 6px;
          padding: 0.5rem 1rem;
        }

      .submenu{
        max-height: 0;
        background-color: #adadad;
        border-radius: 10px;
        overflow: hidden;
      }

      .submenu ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 10px;

      }

      .submenu ul li{
        position: relative;
        display: block;
        width: 100%;
        margin: 2px 2px;
      }

      .submenu.show{
        max-height: 200px;
      }

    nav a {
      display: flex;
      margin: 0 0.1rem;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0rem 0rem;
      border-radius: 6px;
      font-size: 11px;
    }

    nav a:hover,
    nav a.active {
      background: #000;
      color: #fff;
      margin: 3px 0px;
      text-indent: 5px;
    }

    main {
      padding: 1rem;
    }

    h1 {
      font-size: 30px;
      text-align: center;
    }

    h2 {
      font-size: 25px;
      text-align: center;
    }


    h3 {
      margin-left: 3rem;
      font-size: 20px;
    }

    .places img {
      width: 100%;
      border-radius: 10px;
      order: 1;
    }

    .intro img {
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 5rem;
      border-radius: 10px;
      width: 90%;
      height: 90%;

    }

    p,
    ul {
      margin-left: 3rem;
      margin-right: 3rem;
      text-align: center;
      text-align: justify;
      font-size: 14px;
    }

    .article p {
      text-align: center;
    }

    .article ul,
    li {
      text-align: center;
      list-style-position: inside;
    }



    .places .card {
      display: flex;
      gap: 1rem;
      margin: 2rem 0;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
    }

    .places .card img {
      width: 80%;
      border-radius: 10px;
    }

    .places .card div {
      display: block;
      text-align: left;
    }

    .places .card div p {
      text-align: justify;
    }

    .places .card div a.btn {
      margin-bottom: 100px;
    }

    .btn {
      display: block;
      margin: 1rem auto 0;
      width: fit-content;
      background: #000;
      color: #fff;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-radius: 6px;
    }

    .btn-index {
      font-size: 1rem;
      color: #444;
      text-decoration: none;
    }

    .article h2 {
      font-size: 25px;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 10px;
    }

    .article .color-palette {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 2rem;
    }

    .article .color-palette img {
      width: 40% !important;
      height: 40% !important;
      border-radius: 10px;
    }

    .article .img1,
    .img4,
    .img5 {
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 5rem;
      border-radius: 10px;
      width: 90%;
      height: 90%;
    }

    .streetview {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f5f5f5;
      padding: 3rem;
      text-align: center;
      margin-top: 2rem;
    }

    footer p {
      margin-bottom: 1rem;
      font-weight: bold;
      text-align: center;
    }

    footer .social a {
      margin: 0 0.5rem;
      text-decoration: none;
      color: #000;
      font-size: 20px;
    }

        .swiper {
          padding: 0 70px;
        }
    
        .swiper-slide img {
          height: 50%;
          width: 85%;
        }


    
}

@media (min-width: 601px) and (max-width: 1024px) {
    header {
    background: #fff;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;

    }

    header a.btn-index {
      font-size: 19px;
      color: #444;
    }

    .message {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      justify-content: center;
      align-items: center;
    }

    .message-content {
      background: white;
      padding: 90px;
      border-radius: 10px;
      width: 500px;
      text-align: center;
      font-size: 78px;
    }

    .message button{
      font-size: 20px;
    }

    .message button:hover,
    .message button.active {
      background: #000;
      color: #fff;
      border-radius: 6px;
      padding: 0.5rem 1rem;
    }

  .submenu{
    max-height: 0;
    background-color: #adadad;
    border-radius: 10px;
    overflow: hidden;
  }

  .submenu ul{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;

  }

  .submenu ul li{
    position: relative;
    display: block;
    width: 100%;
    margin: 2px 2px;
  }

  .submenu.show{
    max-height: 300px;
  }

    nav a {
      display: flex;
      align-items: center;
      margin: 3px 0px;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.5rem 0.7rem;
      border-radius: 6px;
      font-size: 18px;
    }

    nav a:hover,
    nav a.active {
      background: #000;
      color: #fff;
      margin: 3px 0px;
      text-indent: 5px;
    }

    main {
      padding: 1rem;
    }

    h1 {
      font-size: 30px;
      text-align: center;
    }

    h2 {
      font-size: 25px;
      text-align: center;
    }


    h3 {
      margin-left: 3rem;
      font-size: 20px;
    }

    .places img {
      width: 100%;
      border-radius: 10px;
      order: 1;
    }

    .intro img {
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 5rem;
      border-radius: 10px;
      width: 90%;
      height: 90%;

    }

    p,
    ul {
      margin-left: 3rem;
      margin-right: 3rem;
      text-align: center;
      text-align: justify;
      font-size: 19px;
    }

    .article p {
      text-align: center;
    }

    .article ul,
    li {
      text-align: center;
      list-style-position: inside;
    }



    .places .card {
      display: flex;
      gap: 1rem;
      margin: 2rem 0;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
    }

    .places .card img {
      width: 80%;
      border-radius: 10px;
    }

    .places .card div {
      display: block;
      text-align: left;
    }

    .places .card div p {
      text-align: justify;
    }

    .places .card div a.btn {
      margin-bottom: 100px;
      font-size: 22px;
    }

    .btn {
      display: block;
      margin: 1rem auto 0;
      width: fit-content;
      background: #000;
      color: #fff;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-radius: 6px;
    }

    .btn-index {
      font-size: 1rem;
      color: #444;
      text-decoration: none;
    }

    .article h2 {
      font-size: 25px;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 10px;
    }

    .article .color-palette {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 2rem;
    }

    .article .color-palette img {
      width: 40% !important;
      height: 40% !important;
      border-radius: 10px;
    }

    .article .img1,
    .img4,
    .img5 {
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 5rem;
      border-radius: 10px;
      width: 90%;
      height: 90%;
    }

    .streetview {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f5f5f5;
      padding: 3rem;
      text-align: center;
      margin-top: 2rem;
    }

    footer p {
      margin-bottom: 1rem;
      font-weight: bold;
      text-align: center;
    }

    footer .social a {
      margin: 0 0.5rem;
      text-decoration: none;
      color: #000;
      font-size: 20px;
    }
  }